<h2><%=t 'heading', scope: 'refinery.event_mailer.new_registration' %></h2>

<p><%=t 'p', scope: 'refinery.event_mailer.new_registration' %></p>

<p><%= link_to t('event_details', scope: 'refinery.event_mailer.new_registration'), @url %></p>
